#main-title {
    text-align: center;
    color: white;
    font-family: 'Duru Sans', sans-serif;
}

#map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1000px; 
    height: 600px;
}

#video-feed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.action-button {
    text-align: center;
    color: white;
    background: #FF4F4F;
    border: none;
    border-radius: 25px;
    font-size: 35px;
    padding-right: 30px;
    padding-left: 30px;
    font-family: 'Trebuchet MS', sans-serif;
    cursor: pointer;
}

#background {
    background-color: #035AFC;
}